# Produced by autoconf
/configure
/autom4te.cache/
/Makefile
/Makefile.in
/aclocal.m4
/config.*
/m4/
/stamp-h?
.deps/
COPYING
INSTALL
compile
depcomp
install-sh
missing

bluetooth/.dirstamp
tools/.dirstamp
usb/.dirstamp
controller/.dirstamp
*.o
